<!-- views/partials/_header.ejs -->

<meta charset="UTF-8">
<title>Tiny App</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>

<body style="font-size:20px; padding:50px;">
    <form action="/login" method="POST" style="margin:150px;">
      <label for="username">Enter a username:</label>
      <input id="username" type="text" name="username" placeholder="username" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>