<!-- views/partials/_header.ejs -->

<meta charset="UTF-8">
<title>Tiny App</title>

<div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
  <h3>TinyApp</h3>
  <% if (typeof user_id === "undefined") { %>
    <h4>Please <a href="/login">Login</a> or <a href="/register">Register</a></h4>
  <% } else{ %>
      <h4>User is: <%= user_id %> </h4>
      <form action="/logout" method="POST">
        <input type="submit" value="Logout">
      </form>
  <% } %>
</div>