<!-- views/partials/_header.ejs -->

<meta charset="UTF-8">
<title>Tiny App</title>

<div >
  <nav>
    <ul >
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="#"><%= userObject.email %></a></li>
      <li><a href="/register">Register</a></li>
      <li<a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <h3>TinyApp</h3>
</div>