<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:18px; padding:60px;">
      <% include partials/_header %>
    <h4>Register</h4>
    <form action="/register" method="POST" style="margin:3em;">
      <div style="margin: 0.5em">
        <label for="user">Email Address:</label>
        <input id="email" type="email" name="email" placeholder="user@example.com" style="width: 150px">
        <label for="user">Password:</label>
        <input id="password" type="password" name="password" placeholder="password" style="width: 150px">
      </div>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>