<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <table border="2">
      <tr>
        <th>URL</th>
        <th>Short URL</th>
      </tr>
      <% for (url in urls) { %>
      <tr>
        <td><a href=""><%=urls[url]%></a></td>
        <td><%=url%></td>
      </tr>
      <% } %>
    </table>
</body>
</html>