<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %></head>
<body>
    <!-- Add your EJS code here -->
    <h3>ShortURL: <%= shortURL %></h3>
    <form action="/urls/<%= shortURL %>/update" method="POST" >
      <p>Edit and Update the URL:</p>
      <input id="longURL" type="text" name="longURL" value="<%=URL %>" style="width: 300px">
      <input type="submit" value="Update"></input>
    </form>
</body>
</html>