<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <!-- li works, but maybe use a table -->
    <!-- Need a link for new URLs to shorten -->
    <!-- which sounds like an <a>
  <% for (url in urls)  { %>
    <li>
      <%= urls[url] %>
      <%= url %>
    </li>
  <% } %>
</body>
</html>