<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <!-- Add your EJS code here -->
    <table border="0">
      <% for (url in urls) { %>
      <tr>
        <td><%=url%> &#8594;</td>
        <td><%=urls[url]%></td>
        <td><a href="/urls/<%=url%>">Edit</a></td>
        <td>
          <form action="/urls/<%=url%>/delete" method="POST">
            <input type="submit" value="Delete"></input>
          </form>
        </td>
      <% } %>
      </tr>
    </table>
</body>
</html>